<html>
    <body>

    <div>
        Total Links: {{ total_links }}
    </div>
    <div>
        Alive/Total ODs: {{ alive_opendirectories }}/{{ total_opendirectories }}
    </div>

    <a href="./ods">List of all ODs</a>

    </body>
<html>
