<html>
    <body>

    <h4>DB</h4>
    <div>
        Total Links: {{ db.total_links }}
    </div>
    <div>
        Alive/Total ODs: {{ db.alive_opendirectories }}/{{ db.total_opendirectories }}
    </div>
    <a href="./ods">List of all ODs</a>

    <h4>Server</h4>
    <div>
        Load (1/5/15): {{ load_one }} / {{ load_five }} / {{ load_fifteen }}
    </div>
    <div>
        Memory:
        {% if mem_total %}
            {% set available = mem_available / 1048576 %}
            {% set percentage =  mem_available * 100 / mem_total %}
            {{ available | round }} MiB available ({{ percentage | round }}%)
        {% else %}
            failed
        {% endif %}
    </div>

    </body>
<html>
