<html>
    <head>
        <style>
            th:first-child, td:first-child {
                max-width: 25rem;
                word-wrap: break-word;
            }
        </style>
    </head>
    <body>

    <table>
        <thead>
            <th>URL</th>
            <th>Dead</th>
            <th>Links</th>
        </thead>
        <tbody>
            {% for od in ods %}
            <tr>
                <td><a href="{{ od.url }}">{{ od.url }}</a></td>
                <td>{{ od.dead }}</td>
                <td><a href="./od?url={{ od.url | urlencode_strict }}">Click</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </body>
<html>
